AddHandler x-httpd-php53 .php .php3 .php4 .php5 .phtml # phpvs v6

AddCharset UTF-8 .html .htm .php .json .jsonp

# Turn on URL rewriting
RewriteEngine On

# Installation directory
#RewriteBase /

# Protect hidden files from being viewed
<Files .*>
	Order Deny,Allow
	Deny From All
</Files>

# Protect application and system files from being viewed
RewriteRule ^(?:application|modules|system)\b.* index.php/$0 [L]


RewriteRule  ^([^\.\/]*.htm[l]{0,1})$ static/$1
RewriteRule  ^([^\.\/]*.json)$ static/$1
RewriteRule  ^([^\.\/]*.jsonp)$ static/$1

# Allow any files or directories that exist to be displayed directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d


# Rewrite all other URLs to index.php/URL
RewriteRule .* index.php/$0 [PT]

ErrorDocument 404 index.php
